* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1,
.standby1,
.standby2,
.tired,
.alert {
  display: none;
  position: absolute;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  background-color: #000;
  margin-left: 50%;
  left: -240px;
}
.box1 img,
.standby1 img,
.standby2 img,
.tired img,
.alert img {
  width: 100%;
  height: 100%;
}
.box1 {
  display: block;
}
.box1 .eye1,
.box1 .eye2 {
  position: absolute;
  top: 70px;
  width: 30px;
  height: 70px;
  border-radius: 30px;
  border: 2px solid #88ABDA;
}
.box1 .eye1 {
  left: 170px;
}
.box1 .eye2 {
  left: 280px;
}
button {
  margin-top: 500px;
}
