* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1,
.box2,
.box3 {
  display: none;
  position: absolute;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  background-color: #000;
  margin-left: 50%;
  left: -240px;
  top: 0px;
}
.box1 img,
.box2 img,
.box3 img {
  width: 100%;
  height: 100%;
}
.box1 {
  display: block;
  background-image: url(../images/parts/aperture/aperture_normal.png);
  background-size: 112%;
  background-position: -25px -25px;
}
.box1 .eye1,
.box1 .eye2 {
  position: absolute;
  top: 70px;
  width: 180px;
  height: 180px;
}
.box1 .eye1 {
  left: 60px;
  background-color: bisque;
}
.box1 .eye2 {
  right: 60px;
  background-color: red;
}
button {
  margin-top: 500px;
}
