*,body {
    margin: 0;
    padding: 0;
}

.box {
    width: 480px;
    height: 480px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    touch-action: auto;
    #center {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        left: 160px;
        top: 50px;
        li {
            display: block;
            height: 40px;
            width: 150px;
            line-height: 40px;
            text-align: center;
            border-radius: 50px;
            border: solid 2px rgb(77, 77, 77);
            margin-bottom: 10px;
            margin-left: 0px;
            font-size: 15px;   
            font-weight: 500;
            color: #000; 
            text-decoration: none;
            transition: width 0.5s ease-in-out;
            transition: marginLeft 0.5s ease-in-out;
            &:hover {
                // background-color: rgb(206, 204, 204);
                color: white;
            }
            span{
                color: white;
            }
        }
        
      }
      
      
      
      
}