*,body {
    margin: 0;
    padding: 0;
}

.box {
    width: 480px;
    height: 480px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    ul {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        li {
            // display: inline;
            height: 65px;
            line-height: 65px;
            text-align: center;
            border-bottom: solid 4px rgb(77, 77, 77);
            font-size: 35px;   
            font-weight: 500;
            &:nth-child(1){
                width: 300px;
            }
            a {
                display: block;
                color: #000; 
                text-decoration: none;
                &:hover {
                    background-color: rgb(206, 204, 204);
                    color: white;
                }
                span{
                    color: white;
                }
            }
        }
        
      }
      
      
      
      
}