*,
body {
  margin: 0;
  padding: 0;
}
.box {
  width: 480px;
  height: 480px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  touch-action: auto;
}
.box #center {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  left: 160px;
  top: 50px;
}
.box #center li {
  display: block;
  height: 40px;
  width: 150px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  border: solid 2px #4d4d4d;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: width 0.5s ease-in-out;
  transition: marginLeft 0.5s ease-in-out;
}
.box #center li:hover {
  color: white;
}
.box #center li span {
  color: white;
}
